body, html {
  background-color: #272930;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100%; }

.main {
  height: 100%;
  width: 100%;
  position: relative; }

.btn {
  border-radius: 0;
  font-size: 12px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.dropdown-menu li a {
  font-size: 12px; }

body, html {
  background-color: #272930;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100%; }

.main {
  height: 100%;
  width: 100%;
  position: relative; }

.btn {
  border-radius: 0;
  font-size: 12px; }

.left {
  width: 300px;
  height: 100%;
  padding-top: 50px; }
  .left .dropdown-menu {
    background-color: #272930;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0; }
    .left .dropdown-menu li:not(:first-child) a {
      border-top: 1px solid rgba(255, 255, 255, 0.04);
      border-left: 1px dotted rgba(255, 255, 255, 0.09); }
    .left .dropdown-menu li a {
      border-bottom: 0;
      color: rgba(255, 255, 255, 0.6);
      padding: 14px 20px; }
      .left .dropdown-menu li a:hover {
        background-color: #202228; }
      .left .dropdown-menu li a span.count {
        background-color: #ea6153;
        color: white;
        margin-left: 8px;
        padding: 2px 4px;
        font-size: 10px; }

.right {
  position: absolute;
  top: 0;
  left: 300px;
  background-color: #F0F0F0;
  width: 100%;
  padding: 50px;
  padding-right: 350px; }
  .right .list-item {
    font-size: 14px;
    background-color: white;
    padding: 25px;
    margin-bottom: 20px; }
    .right .list-item p {
      font-weight: 300; }
      .right .list-item p.list-title {
        font-size: 18px; }
      .right .list-item p.list-date {
        opacity: .5; }
