body, html {
  background-color: #272930;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100%; }

.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

.btn {
  border-radius: 0;
  font-size: 12px; }

a {
  color: #4aa3df; }
  a:hover {
    color: #4aa3df; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ffffff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.dropdown-menu li a {
  font-size: 12px; }

body, html {
  background-color: #272930;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100%; }

.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden; }

.btn {
  border-radius: 0;
  font-size: 12px; }

a {
  color: #4aa3df; }
  a:hover {
    color: #4aa3df; }

.left {
  width: 300px;
  padding-top: 55px; }
  .left .dropdown-menu {
    background-color: #272930;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0; }
    .left .dropdown-menu[role="menu"] {
      display: block;
      position: static;
      width: 300px; }
    .left .dropdown-menu li:not(:first-child) a {
      border-top: 1px solid rgba(255, 255, 255, 0.04);
      border-left: 1px dotted rgba(255, 255, 255, 0.09); }
    .left .dropdown-menu li a {
      border-bottom: 0;
      color: rgba(255, 255, 255, 0.6);
      padding: 14px 20px; }
      .left .dropdown-menu li a:hover {
        background-color: #202228; }
      .left .dropdown-menu li a span.count {
        background-color: #d9534f;
        color: white;
        margin-left: 8px;
        padding: 2px 4px;
        font-size: 10px; }

.right {
  position: absolute;
  top: 0;
  left: 300px;
  background-color: #f0f0f0;
  width: 100%;
  min-height: 800px; }
  .right .content {
    padding: 50px;
    padding-top: 20px;
    padding-right: 350px; }
  .right .breadcrumb {
    padding: 0;
    background: none; }
    .right .breadcrumb ol {
      margin-bottom: 0;
      padding: 4px;
      margin-top: 5px;
      list-style: none;
      font-weight: 200; }
      .right .breadcrumb ol li {
        display: inline-block; }
        .right .breadcrumb ol li.active > a {
          color: #999999;
          text-decoration: none;
          pointer-events: none; }
  .right .list-item {
    font-size: 14px;
    background-color: white;
    padding: 25px;
    margin-bottom: 20px; }
    .right .list-item p {
      font-weight: 300; }
      .right .list-item p.list-title {
        font-size: 18px; }
      .right .list-item p.list-date {
        opacity: .5; }
      .right .list-item p.list-summary {
        margin-bottom: 15px; }
    .right .list-item.search-result {
      margin-bottom: 0;
      font-weight: 200;
      background-color: transparent; }
      .right .list-item.search-result .term-result {
        color: #5cb85c; }
      .right .list-item.search-result .search-count {
        color: #5cb85c; }
      .right .list-item.search-result .checkbox {
        font-weight: 200;
        font-size: 12px; }
      .right .list-item.search-result .rub-count {
        color: #a2a6b4; }
      .right .list-item.search-result hr {
        margin-top: 10px;
        margin-bottom: 10px; }

.search-bar {
  width: 100%;
  background-color: white;
  height: 55px;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
  padding-left: 50px; }
  .search-bar .search-box {
    float: right;
    margin-right: 350px; }
    .search-bar .search-box .suggest-container {
      width: 500px;
      background-color: white;
      position: absolute;
      top: 54px;
      right: 300px;
      z-index: 1000; }
      .search-bar .search-box .suggest-container p {
        margin: 20px;
        font-size: 14px;
        font-weight: 200;
        text-transform: lowercase; }
        .search-bar .search-box .suggest-container p:first-child {
          margin-top: 0; }
        .search-bar .search-box .suggest-container p:hover {
          background-color: #f0f0f0;
          cursor: pointer; }
  .search-bar input[type="search"] {
    box-shadow: none;
    outline: none;
    border: 0; }
    .search-bar input[type="search"]:focus {
      outline: none;
      border: 0; }
  .search-bar a {
    color: inherit; }
    .search-bar a:hover {
      text-decoration: none; }
  .search-bar i {
    font-size: 16px;
    cursor: pointer; }

.search {
  width: 407px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 0;
  height: 35px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
  color: #26282f; }

.form-control {
  line-height: 1.428571429;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  padding: 6px 8px;
  box-shadow: none; }

.date-picker {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
  position: relative;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s,box-shadow linear .2s;
  -moz-transition: border linear .2s,box-shadow linear .2s;
  -o-transition: border linear .2s,box-shadow linear .2s;
  transition: border linear .2s,box-shadow linear .2s;
  padding: 4px 6px;
  line-height: 20px;
  color: #555;
  /*margin-left: 10px;*/
  width: 88px; }

.picker-title {
  margin: 6px 10px 0 0; }

i.icon-remove-sign {
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
  display: inline-block;
  font-weight: bold; }

i.icon-remove-sign.ng-hide {
  display: inline-block !important;
  visibility: hidden; }

i.icon-remove-sign.ng-show {
  visibility: visible; }

input.date-picker::-webkit-input-placeholder {
  color: #555; }

input.date-picker::-moz-input-placeholder {
  color: #555; }

.btn-date-picker {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  margin-left: -6px;
  vertical-align: top;
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: linear, to bottom, white, #e6e6e6;
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }
