<div class="list-item">
	<p class="list-title">{{art.title}}</p>
	<p class="list-date">Publié le {{art.date | dateformat}}</p>
	<p class="list-summary">{{art.summary}}</p>
	<button type="button" class="btn btn-danger" ng-hide="art.export" ng-click="add()">Ajouter</button>
	<button type="button" class="btn btn-success" ng-show="art.export" ng-click="add()">Retirer</button>
	<select ng-model="typo" style="margin-left:15px;" ng-show="art.export" ng-change="onChange(typo)">
		<option ng-repeat="t in typos" value="{{t.val}}" ng-selected="typo===t.val">{{t.val}}</option>
	</select>
</div>