<style>
	body {background-color: #f3f3f3;}
</style>
<div class="list-items" ng-repeat="art in search.result">
	<p class="list-title"><span class="list-date">{{art.date | dateformat}}</span> - {{art.title}}</p>
	<p class="list-summary">{{art.summary}}</p>
	<p><a ng-href="art.origin">Consulter la note sur l'extranet</a></p>
	<button type="button" class="btn btn-danger" ng-click="onAdd(art)">Ajouter</button>
	<select ng-model="opt" ng-options="t.val for t in config.typos" ng-change="onSort(opt)"></select>
</div>