<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
	<li ng-repeat="data in menu" ng-class="{'dropdown-submenu':data.menuItem.length}" ng-include="'tree_item_renderer.html'"></li>
</ul>
<script type="text/ng-template"  id="tree_item_renderer.html">
    <a href="#{{data.url || data.hyperLink| menuUrl}}">{{data.name}} <span ng-if="data.count" class="count">{{data.count}}</span><span class="count green">2</span></a>
    <ul class="dropdown-menu">
        <li ng-repeat="data in data.menuItem" ng-class="{'dropdown-submenu':data.menuItem.length}" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>