<div class="list-item search-result">
	<p class="list-title"><span class="search-count">{{search.total}}</span> résultats pour votre recherche <span class="term-result">"{{term}}"</span></p></b>
	<hr>
	<form class="sort-form">
		<span>Trier par : </span>
		<select style="200px" ng-model="opt" ng-options="s.val for s in sortItems" ng-change="onSort(opt)"></select>
	</form>
	<hr>
	<span>Filtrer :</span>
	<div class="checkbox" ng-repeat="item in search.items">
		<input type="checkbox" ng-model="item.checked" ng-change="onRubChange()" />{{item.term | itemFullName}}<span class="rub-count"> ({{item.count}})</span>
	</div>
	<hr>
	
</div>
<div ng-if="term" infinite-scroll="initSearch(false)" infinite-scroll-disabled="false" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
	<div class="list-item" ng-repeat="art in search.result">
		<p class="list-title">{{art.title}}</p>
		<p class="list-date">Publié le {{art.date | dateformat}}</p>
		<p class="list-summary">{{art.summary}}</p>
		<!-- <p><a ng-href="{{art.origin}}" target="_blank">Consulter la note sur l'extranet</a></p> -->
		<button type="button" class="btn btn-danger" ng-hide="added" ng-click="onAdd(art);added=!added">Ajouter</button>
		<button type="button" class="btn btn-success" ng-show="added" ng-click="onAdd(art);added=!added">Retirer</button>
		<select ng-model="typo" style="margin-left:15px;" ng-show="added" ng-options="t.val for t in config.typos" ng-change="onTypoSelect(typo, art)"></select>
	</div>
</div>