<div id="search-form">
	<h2>Extranet FNSEA</h2>
	<h5>Rechercher sur l'extranet de la FNSEA</h5>
	<form class="form-inline" action="{{term | searchURL:fields}}">
		<input type="search" class="form-control search-box" ng-model="term" placeholder="Rechercher" />
		<button class="btn btn-primary" type="submit">Valider</button>
	</form>
</div>
<div id="main-content">
	<div ng-if="term" infinite-scroll="search.nextPage(term)" infinite-scroll-disabled="false" infinite-scroll-distance="0" infinite-scroll-immediate-check="false">
		<div ng-repeat="item in search.items">
			<div class="container">
				<div class="item-header">
					<span class="badge {{item.origin | rubrique}}">{{item.origin | rubrique}}</span>
					<span class="time">il y a 2 jours</span>
				</div>
				<p class="title">{{item.title}}</p>
				<p class="summary">{{item.summary || item.date}}</p>
				<!-- <p ng-bind-html="item.content"></p> -->
				<p><a ng-href="{{item.origin}}" target="_blank">Voir le doc sur l'extranet</a></p>
			</div>
		</div>
	</div>
</div>