
.right{
	position: absolute;
	top: 0;
	left: 300px;
	background-color:$c_grey;
	width: 100%;
	min-height: 800px;

	.content{
		padding:50px;
		padding-top: 20px;
		padding-right: 350px;
	}

	.breadcrumb{
		padding: 0;
		background: none;

		ol{
			margin-bottom: 0;
			padding: 4px;
			margin-top: 5px;
			list-style: none;
			font-weight: 200;

			li{
				display: inline-block;
				&.active > a {
					color: #999999;
					text-decoration: none;
					pointer-events:none;
				}
			}
		}
	}

	.list-item{
		font-size: 14px;
		background-color: white;
		padding: 25px;
		margin-bottom: 20px;

		p{
			font-weight: 300;

			&.list-title{
				font-size: 18px;
			}
			&.list-date{
				opacity: .5;
			}
		}
	}
}