
.login-main{

	height: 100%;
	padding-top: 50px;

	.login-container{
		width: 305px;
		background-color: white;
		padding: 30px;
		margin:0 auto;

		input:not([type="submit"]) {
			border:1px solid #ccc;
			height: 25px;
			margin-left: 5px;
		}

		.input-container{
			margin-bottom: 10px;
			text-align: right;
		}

		label{
			font-size: 14px;
			font-weight: 400;
		}

		.submit{
			margin-top: 20px;
			text-align: right;
		}
	}	
}
