
$c_darkenGrey:#272930;
$c_green:#19b698;
$c_red:#d9534f;
$c_blue:#4aa3df;
$c_grey:#F0F0F0;


body,html{
	background-color:$c_darkenGrey;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	height: 100%;
}
.main{
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}

.btn{
	border-radius: 0;
	font-size: 12px;
}

a{
	color: $c_blue;
	&:hover{
		color: $c_blue;
	}
}
