
.search-bar{

	.search-box{
		float: right;
		margin-right: 350px;
	}

	width: 100%;
	background-color: white;
	height: 55px;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px;
	padding-left: 50px;

	input[type="search"]{
		box-shadow: none;
		outline:none;
		border: 0;
		&:focus{
			outline:none;
			border: 0;
		}
	}
	a{
		color:inherit;
		&:hover{text-decoration: none;}
	}
	i{
		// opacity: .4;
		font-size: 16px;
		cursor: pointer;
	}

}

.search {
	width: 250px;
	display: inline-block;
	margin-right: 3px;
	border-radius: 0;
	height: 35px;
	// color: rgba(255, 255, 255, 0.7);
	// background: $c_grey;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.06);
	color: darken($c_darkenGrey, .5);
}

.form-control {
	
	line-height: 1.428571429;
	vertical-align: middle;
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

	padding: 6px 8px;
	box-shadow: none;
}